.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* 第一栏样式 */

nav {
    min-width: 100px;
    background-color: #1A2B32;
}

.nav-button {
    position: fixed;
    width: 100px;
    top: 20px;
}

.nav-button a {
    display: block;
    margin-top: 20px;
    width: 100px;
}

.nav-button a:hover {
    background: url(./images/111.png) no-repeat 5px 25px;
}

.nav-button img,
.nav-button span {
    width: 60px;
    height: 60px;
}

.nav-button span {
    line-height: 46px;
    font-size: 3em;
    border: 2px solid #2C3C49;
    color: #2C3C49;
}

.nav-set {
    position: fixed;
    bottom: 20px;
    left: 30px;
}

/* 第二栏样式 */

.sidebar {
    padding-top: 30px;
    min-width: 300px;
    background-color: #262F3E;
    color: #EEE;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

/* 中间分割线 */

.middle-ul::after,
.middle-ul::before {
    content: "";
    margin: 20px auto;
    height: 2px;
    width: 240px;
    background-color: #2C3C49;
}

.sidebar ul li:first-child {
    margin-bottom: 10px;
}

.sidebar li {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.3em;
}
/* 悬停时显示小蓝块 */
.sidebar li:hover {
    background: url(./images/111.png) no-repeat 0 12px;
}

.sidebar li a {
    color: #B8C1C7;
}

.sidebar li a:hover {
    color: #fff;
}

/* 提示信息 */

.prompt {
    display: inline-block;
    width: 35px;
    height: 25px;
    font-size: .5em;
    line-height: 25px;
    background-color: #0999F1;
    border-radius: 12px;
}

.warm {
    width: 25px;
    height: 25px;
    font-size: .5em;
    line-height: 25px;
    font-weight: bold;
    background: #EF1003;
}

/* 第二栏最下面的固定进度条 */

.progress {
    position: fixed;
    bottom: 30px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: .2em;
    line-height: 3em;
    text-align: justify;
}

.progress>div {
    justify-content: space-between;
}

.progress-bar>div {
    width: 100%;
    height: 4px;
    background: #2C3C48;
    border-radius: 4px;
}

.progress-bar>div>span {
    display: block;
    width: 18%;
    height: 4px;
    background: #916EE2;
    border-radius: 4px;
}

/* 第三栏 */

.container {
    border: 1px solid #ccc;
}

h2 {
    margin-left: 20px;
}

/* 右上方用户登录头像 */

.user-set {
    position: fixed;
    right: 20px;
    top: 20px;
}

.user-set img {
    margin-right: 10px;
}

.user-set div {
    margin-right: 10px;
}

.user-set div strong {
    display: block;
    color: #0999F1;
}

.user-set input {
    display: none;
}

/* 第三栏,朋友列表 */

.friend {
    min-width: 400px;
    border: 1px solid #ccc;
}

.search {
    padding: 15px 30px;
    height: 66px;
    border-bottom: 1px solid #CCC;
}

.search form {
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search input {
    padding-left: 20px;
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.search img {
    width: 20px;
}

.active {
    color: #0A9CF9;
}

.active::before {
    content: "";
    margin-right: 5px;
    width: 10px;
    height: 10px;
    background: #0A9CF9;
}

.users li {
    padding-top: 20px;
}

.users li::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #ccc;
}

.users li:hover {
    background: url(./images/222.png) no-repeat;
}

.users li>div {
    padding-left: 30px;
    padding-right: 20px;
}

.users li>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.mes {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #0999F1;
}

/* 多行文本溢出显示省略号 */

.friend-mes p {
    width: calc(100% - 30px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.users li img {
    margin-right: 20px;
}

.users li img+div {
    width: 200px;
    flex: auto;
}

/* 第三栏,最右侧留言区 */

/* 留言按钮区 */

.newsbar {
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 67px;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}

.newsbar>span>span {
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: #15BC43;
}

.newsbar-btn {
    font-size: 0;
}

.newsbar-btn span {
    font-size: 14px;
}

.newsbar-btn span:nth-of-type(1) {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: #eee;
    vertical-align: bottom;
}

.newsbar-btn span:nth-of-type(2) {
    margin-right: 20px;
}

.newsbar-btn button {
    width: 45px;
    height: 40px;
    background: linear-gradient( #fff, #f6f7f8);
    border-color: #f3f3f3;
    color: #d1d1d1;
}

.newsbar-btn button:nth-of-type(1),
.newsbar-btn button:nth-of-type(4) {
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.newsbar-btn button:nth-of-type(3) {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.newsbar-btn button:nth-of-type(5) {
    border-radius: 0 5px 5px 0;
}

/* 留言内容区 */

.news li {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 60px;
}

.news li span {
    margin-left: 20px;
}

.news li {
    background: url(./images/12_15_16.png) no-repeat;
}

.tuesday,
.new-message {
    margin-top: 40px;
}

.tuesday>div,
.new-message>div {
    height: 1px;
    border-top: 1px solid #ddd;
}

.new-message>div {
    border-top-color: #add8e6;
}

.tuesday>div>span {
    position: relative;
    top: -12px;
    background: #fff;
    padding: 0 20px;
}

.tuesday ul,
.new-message ul {
    margin-top: 20px;
}

.new-message>div>span {
    position: relative;
    top: -12px;
    background: #fff;
    padding: 0 20px;
    color: #add8e6;
}

.name {
    margin-bottom: 20px;
}

.name span {
    margin-left: 20px;
}

.tuesdaynews li,
.new-message li {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 60px;
}

.tuesdaynews li:nth-of-type(1) {
    background: url(./images/12_15_16.png) no-repeat;
}

.tuesdaynews li:nth-of-type(2) {
    background: url(./images/12_15_16.png) no-repeat;
}

.new-message li:nth-of-type(1) {
    background: url(./images/12_15_16.png) no-repeat;
}

.new-message li:last-child {
    padding-left: 60px;
    padding-right: 60px;
}

.new-message form {
    width: 100%;
    height: 50px;
    border: 1px solid #eee;
}

.new-message form button,
.new-message form input {
    height: 47px;
    border: none;
}

.new-message form input {
    padding-left: 20px;
}

.new-message form button {
    width: 50px;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    border-right: 1px solid #eee;
}

.new-message form input {
    width: calc(100% - 55px);
    border-radius: 0 5px 5px 0;
}

.image-active {
    position: relative;
}

.image-active span {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100px;
    line-height: 100px;
    opacity: 0;
    background-color: transparent;
    transition: 1s;
}

.image-active span:hover {
    opacity: 1;
    background-color: rgba(38, 47, 62, 0.534);
}

.image-active span img {
    position: relative;
    z-index: 222;

    padding: 10px;
    border: 1px solid #eee;
}


/* 组合调整 */

.nav-button span,
.warm,
.user-set div,
.active::before,
.newsbar>span>span,
.image-active {
    display: inline-block;
}

.nav-button a,
.prompt,
.warm,
.mes,
.tuesday>div,
.new-message>div,
.image-active span {
    text-align: center;
}

.newsbar>span>span,
.user-set div,
.user-set img,
.search img,
.image-active img {
    vertical-align: middle;
}

.nav-button img,
.nav-button span,
.warm,
.active::before,
.mes,
.users li img,
.newsbar>span>span,
.image-active span img {
    border-radius: 50%;
}

.news li div ,
.news-img {
    margin-top: 10px;
}