/* flex */
/* 清除默认样式 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}
li {
    list-style: none;
}

/* 公共样式 */
.xiankuan {
    max-width: 960px;
    width: 960px;
}

/* header */

.topbar {
    height: 70px;
    background-color: #323534;
}
.topbar > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    align-self: center;
    font-size: 1.5em;
}

.topbar li {
    display: inline-block;
}
.topbar li a {
    text-decoration: underline;
}
.xk {
    height: 300px;
    background-color: #3DBD42;
}
.xk > div {
    display: flex;
    justify-content: flex-end;
}

.xk ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.xk li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 30px;
    flex: 1;
    line-height: 30px;

    background-color:  rgba(255, 255, 255, 0.678);
    border: 1px solid #000;
    text-align: center;
}
.xk li:nth-of-type(2) {
    height: 40px;
    line-height: 50px;
    background-color: #fff;
}

/* 导航 */
.xuanxiangka {
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
}

.xuanxiangka ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.xuanxiangka li {
    box-sizing: border-box;
    margin-bottom: 3px;
}
.xuanxiangka li a {
    padding: 15px 20px 4px 20px;
    font-size: 1.2em;
    
    background-color: #EFEEEC;
    border: 1px solid #ccc;
    border-radius: 15px 15px 0 0 ;
}

.xuanxiangka li:first-child a {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

/* 内容 */
.container {
    flex-direction: row;
}

.item {
    margin: 10px 0;
}
.item > div {
    flex: 1;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 1px solid #ccc;
}
.row1 div:nth-of-type(2) {
    width: 320px;
    flex: none;
}

/* footer */
footer {
    padding-top: 10px;
    height: 120px;
    background-color: #666560;
    text-align: center;
}

/* 整理 */

.topbar,
.xk,
.xuanxiangka,
.container,
.item ,
footer {
    display: flex;
    justify-content: center;
}

.topbar a,
footer span {
    color: #fff;
}